@import "../../styles.scss";
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin: 35px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  width: 20%;
}
