<div class="container">
  <div class="form">
    <!-- <p>hola</p> -->
    <input class="form-control" type="text" placeholder="Email" name="email" id="email" required email
      [(ngModel)]="user.email" #email="ngModel" />
    <input class="form-control" type="text" placeholder="Password" password="password" required
      [(ngModel)]="user.password" #password="ngModel" />
  </div>
  <button (click)="logIn()" [ngStyle]="{
    'opacity': email.invalid || password.invalid? 0.5 : 1,
    'pointer-events': email.invalid || password.invalid? 'none' : 'all'
  }">
    {{ loading? 'Loading...' : 'Log in' }}
  </button>
</div>