/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
$blue: #1976d2;

input,
p,
small,
span,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", sans-serif;
}

button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  margin-top: 15px;
  // height: 35px;
  width: 100%;

  border: 1px solid $blue;
  border-radius: 7px;
  padding: 12.5px 15px;
  background-color: transparent;
}


button {
  min-width: 120px;
  padding: 12.5px 15px;
  border: 1px solid $blue;
  background-color: $blue;
  color: white;
  border-radius: 5px;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }
}