@import "../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 25px;

}
.filters {
  display: flex;
  margin-bottom: 35px;
  align-items: center;
  input {
    margin: 0px;
    max-width: 200px;
    margin-right: 15px;
  }
}

.price-filters {
  margin-bottom: 25px;

  button {
    margin-right: 15px;
  }

  .selected {
    opacity: 0.5;
  }
}

.table {
  flex: 1;
	table-layout: unset;
	width: 100%
}


.column {
	padding: 10px;
	color: $blue;
}

.column-header {
	font-weight: 600;;
}

.tbody {
	width: 100%;
	flex: 1;
}