<div class="container">
  <div class="filters">
    <input
      type="number"
      placeholder="Buscar por ID"
      name="byId"
      id="byId"
      [(ngModel)]="byId"
      (keyup.enter)="searchById()"
    />
    <!-- <input type="number" placeholder="Find by price" name="byPrice" id="byPrice" [(ngModel)]="byPrice"
      (focus)="onPriceFocus()" (focusout)="onPriceFocusOut()" /> -->
    <button (click)="searchById()">Buscar</button>
  </div>

  <div class="filters price-filters">
    <input
      type="number"
      placeholder="Buscar por precio"
      name="byPrice"
      id="byPrice"
      [(ngModel)]="byPrice"
      (keyup.enter)="searchByPrice()"
      (focus)="onPriceFocus()"
      (focusout)="onPriceFocusOut()"
    />
    <button
      [ngClass]="{ selected: priceCriteria === '=' }"
      (click)="onPriceCriteriaSelect('=')"
    >
      Igual
    </button>
    <button
      [ngClass]="{ selected: priceCriteria === '<=' }"
      (click)="onPriceCriteriaSelect('<=')"
    >
      Menor que
    </button>
    <button
      [ngClass]="{ selected: priceCriteria === '>=' }"
      (click)="onPriceCriteriaSelect('>=')"
    >
      Mayor que
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <td class="column column-header">BookingId</td>
        <td class="column column-header">Cliente</td>
        <td class="column column-header">Fecha de creacion</td>
        <td class="column column-header">Direccion</td>
        <td class="column column-header">Precio</td>
      </tr>
    </thead>

    <tbody class="tbody">
      <!-- <thead> -->
      <tr *ngFor="let booking of bookings">
        <td class="column">{{ booking.bookingId }}</td>
        <td class="column">
          {{ booking.tutenUserClient.firstName }}
          {{ booking.tutenUserClient.lastName }}
        </td>
        <td class="column">{{ booking.bookingTime }}</td>
        <td class="column">{{ booking.locationId.streetAddress }}</td>
        <td class="column">{{ booking.bookingPrice }}</td>
      </tr>
      <!-- </thead> -->
    </tbody>
  </table>
</div>
